.szovegdoboz {
    width: 50%;
    padding: 25px;
    text-align: justify;
}

.oldalsav {
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 25px;
}

.kep {
    width: 100%;
    border-radius: 50px;
    object-fit: cover;
}

.terkep-container {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    border: 2px solid #343a40;
}

.felk {
    font-weight: bold;
}

footer {
    border-top: 2px solid #495057;
}

@media (max-width: 992px) {
    .szovegdoboz, .oldalsav {
        width: 100%;
    }
}