body{
    background-color: #f2f2f2;
}
.m2r{
    margin: 2rem;
}
.cardcontainer{
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.carouselmargin{
    margin-bottom: 5rem;
}